* {
    line-height: normal;
    width: 100%;
    list-style: none;
    font-size: medium;
    font-family: 'Montserrat';
    text-decoration: none;
}
html {
    height: 100%;
}

body {
    background-image: url(/images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    text-align: center;
    color: black;
    background-color: rgb(76, 190, 158);
    font-family:'Bebas Neue';
    border: solid, 1px;
    font-size: xx-large;  
}


h2 {
    text-align: center;
    color: black;
    background-color: rgb(239, 157, 69);
    font-family: 'Bebas Neue';
    border: solid, 1px;
    font-size: x-large;
}

.datos1 {
    font-family: 'Montserrat';
    font-weight: bold;
    display: flex;
    justify-items: center;
}

.mapa {
    height:500px;
    width: 500px;
    margin: 0 auto;
} 

.formulario {
    margin: 0 auto;
    width: 50%;
    background-color: rgb(76, 190, 158);
    font-weight: bold;
}