* {
    line-height: normal;
    width: 100%;
    list-style: none;
    font-size: medium;
    font-family: 'Montserrat';
    text-decoration: none;
}
html {
    height: 100%;
}

body {
    background-image: url(/images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
   margin: 0 auto;
   height: 25%;
   width: 50%;
}

.logo img {
  
}

.navmenu  {
    display: flex;
    justify-content: center;
}
.navmenu li a {  
    font-family:'Bebas Neue';
    font-size: larger;
    color: black;
    background-color:rgb(218, 20, 129);
    display: inline;
    display: flex;
    justify-content: center;
}

.navbox {
    display: inline;
    display: flex;
    justify-content: space-around;
    background-color:rgb(218, 20, 129);
}

p {
    text-align: center;
    font-size: medium;
    background-color: white;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: black;
    background-color: rgb(76, 190, 158);
    font-family:'Bebas Neue';
    border: solid, 1px;
    
}


h2 {
    text-align: center;
    color: black;
    background-color: rgb(239, 157, 69);
    font-family: 'Bebas Neue'
    border: solid, 1px;
}

.imagenes1 {
    display: flex; 
    justify-content: center;
    background-color: rgb(218, 20, 129);
    border: solid color black;
    padding: 10px;
}

.video1 iframe {
    margin: 0 auto;
    background-color: rgb(218, 20, 129);
    border: solid, 2px, color rgb(218, 20, 129);
    display: flex;
    justify-content: center;
    width: 40%;
}


/* .footer {
    font-family:'Bebas Neue';
    font-size: larger;
    color: black;
    background-color:rgb(218, 20, 129);
    display: flex;
    justify-content: center;
} */

.footerbox ul {
    background-color:rgb(218, 20, 129);
    display: flex;
    justify-content: center;
}

.footerbox ul li a {
    font-family: 'Bebas Neue';
    font-size: larger;
    color: black;
    text-decoration: none;
}